body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #13293d;
  color: white;
  background-image: url(../img/bg.jpg);

  > div {
    background: rgb(0 0 0 / 64%);
  }
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

header {
  text-align: center;

  > p {
    margin: 0;
  }

  #currentDay {
    margin: 2rem;
  }
}

.calendar {
  padding-bottom: 200px;
}

/* The following css was gotten from: https://stackoverflow.com/questions/48305623/how-do-i-make-a-notification-disappear */
.notification {
  transition: all 0.35s;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: linear-gradient(#1abc9c, #16a085);
  border-bottom: 0.125rem solid #1abc9c;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0.25rem 0.25rem 0;
  display: none;
}

.notification .content {
  text-align: center;
  color: #fff;
  padding-top: 15px;
}
